################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Now-Playing-Traktor/FileContentIndex/067723b5-b0ee-4ddc-8465-7553c910f4e2.vsidx
/.vs/Now-Playing-Traktor/FileContentIndex/009573a1-7469-4a93-8840-9a8b3064a96f.vsidx
/.vs/Now-Playing-Traktor/FileContentIndex/311e52b2-cce2-4273-974e-deea433a2088.vsidx
/.vs/Now-Playing-Traktor/FileContentIndex/183dc3e1-ca4f-4861-ba15-bbb8dc4e757b.vsidx
/.vs/Now-Playing-Traktor/FileContentIndex/7e862d92-3718-4311-967e-9061ff01de1a.vsidx
*.vsidx
/EscapePod.log
/dist/EscapePod.log
